
header {
    background-color: #22ab8d;
    color: #fff;
    padding: 20px;
    font-family: 'Abel', sans-serif;
  }
  
  nav {
    display: flex;
    justify-content: space-between;
  }
  
  nav ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
  }
  
  nav li {
    margin-left: 20px;
  }
  
  nav li:first-child {
    margin-left: 0;
  }
  
  nav a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
  }
  

  main {
    padding: 20px;
  }
  
  section {
    margin-bottom: 20px;
  }
  
  h2 {
    color: #333;
    font-family: 'Abel', sans-serif;
  }
  
  p {
    line-height: 1.5;
    font-family: 'Abel', sans-serif;
  }
  

  footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    bottom: 0%;
  
position: absolute;
  }
  form {
    max-width: 400px;
    margin: 0 auto;
  }
  
  label, input {
    display: block;
    margin-bottom: 1rem;
  }
  
  input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    
  }
  
  input[type="submit"]:hover {
    background-color: #0062cc;
    font-family: 'Abel', sans-serif;
  }